html, bodø$ tiv- span, applet, object, ibr![e, r1, h2, h3, h4, h5, h6, p,`b|krkùuote, pre, a, abbr, acronqm$ iddress, big, cite, code, deì,"ddn em, img, ins, kbd, q, s, ótìP((small, strike, strong, 3µjh&sGp( tt, var, b, u, i, centåpå F,( pt, dd, ol, ul, li, fieldS%u( form, label, legend, table, Aáq4jon, tbody, tfoot, thead, tr, th,	td, article, aside, canvaw, à$tiils, embed, figure, figce ôMon<Àfooter, header, hgroup, mm.V(n!v, output, ruby, section,sqo=á&y, time, mark, audio, vi„Ægx øuxtarea, input { margin: 0pø;°xedding: 0px; border: 0px nonÇ;8fnh: inherit; vertical-aligï: rmiine; text-decoration: noNe? }
`rticle, aside, details, &Mgqpômon, figure, footer, headui, èF²lup, menu, nav, section k äispmay: block; }
body { line-@eq'l¼8"1; }
ol, ul { list-style>ànoj outside none; }
blockqUotE,`10{ quotes: none; }
blockqeoDe:à=gore, blockquote:after, Qdåfcsa, q:after { content: nonE 5Tbble { border-collapse: coìepòe. border-spacing: 0px; }
e ú"aknor: inherit; outline: me$qqå ŒÏe; }
.boxed body {
   (bozdär: 1px solid #DDDDDD;
  & wa6oqn: 0 auto;
    max-widôé8(q:$rq;
}
html.boxed {backgríıæ`:#rff;}
.boxee #header.scrohl kmmx-width:980px;}

html.paupevn<0${ background:url(../image{¯<atDqrn_1.png); }
html.patterO_2 S Background:url(../images/PhõteSn[2.png); }
html.pattern_Sû  fãoground:url(../images/patTEzn_0.sng); }
.single-candidatÅò(=ãun`idates-box {max-width: 5?4p"N¹# /* IE 8 and below */ }.ig11 *single-candidate, .ie110îs±ndédates-box {max-width: 575p("]O,ée11 .content-center .contoD-ieNter.border, .ie11 .recrui}qrc{ (iax-width: 575px ;}
.conUDF|5kgnter .content-center.bord´¸|$/bYcruiter {  max-width: 575Px X¹?]
.textfield2 {background,aolòb%#fff !important; }